@import "tailwindcss";

@theme {
  --color-primary: #007AFF;
  --color-card-bg: #f9f9f9;
}

:root {
  --background: #ffffff;
  --foreground: #333333;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
